HMAC_SECRET=change_me_in_production
MQTT_HOST=localhost
MQTT_PORT=1883
DATABASE_URL=sqlite:///./apicole.db
MOCK_INTERVAL=5

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://MON-RESSOURCE.openai.azure.com/
AZURE_OPENAI_API_KEY=ma_cle_api
AZURE_OPENAI_DEPLOYMENT=gpt-4
AZURE_OPENAI_API_VERSION=2024-02-01
